<%= render :partial => "layouts/header" %>

<% if @login %>
<div class="threadtitle">
  <%= @home.title %>
</div>
<hr />
<% if @comments != nil %>
  <ul>
  <% @comments.each do |comment| %>
  <li>
      <div>
      <div class="name">
      <div class="nameTag">
        name
      </div>
      <%= comment.name %>
      <%= comment.created_at.to_time %>
      </div>
      <div class="comment">
        <div class="commentTag">comment</div>
      <%= comment.comment %>
      </div>
      <div>
        <% if comment.url != nil %>
        <iframe width="560" height="315" src=<%= "https://www.youtube.com/embed/#{comment.url}" %> frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <% end %>
      </div>
      </div>
  </li>
    <hr />
  <% end %>
  </ul>
<% end %>

  <%= form_for @comment, url: {action: "create"}, method: "post" ,html: {class: "nifty_form"} do |f| %>
    <label for="">name</label>
    <%= f.text_field :name, class:"nameinput" %>
    <label for="">Comment</label>
    <%= f.text_area :comment, class:"commentArea" %>
    <label for="">URL of YouTube</label>
    <%= f.text_field :url, class:"nameinput" %>
    <%= f.submit "Create" %>
  <% end %>
<% end %>

<% if !@login %>
  <p>Please login</p>
<% end %>
